/* limited styling is used throughout the website, however a stylesheet is present and is included in the includes.php file, 
meaning you can adjust this and it should be appended globally */

body {
    background: grey
}
.login-container
{
    margin: 80px;
}
.login-form
{
    max-width: 400px;
    margin: 0 auto;
    background-color: beige;
    padding: 15px 40px 50px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

.adminlogin-container
{
    margin: 80px;
}
.adminlogin-form
{
    max-width: 400px;
    margin: 0 auto;
    background-color: red;
    padding: 15px 40px 50px;
    border: 2px solid black;
    border-radius: 10px;
}